.playarea-container {
    display: grid;
    grid-template-areas:
      "m n o p"
      "i j k l"
      "e f g h"
      "a b c d";
    height: 50vh;
    width: 50vh;
    background-color: rgb(255, 127, 127);
    text-align: center
    
  }
  
  .playarea-11 {
    
    grid-area: a;
  }
  
  .playarea-12 {
    grid-area: e;
  }
  
  .playarea-13 {
    grid-area: i;
  }
  
  .playarea-14 {
    grid-area: m;
  }
  
  .playarea-21 {
    grid-area: b;
  }
  
  .playarea-22 {
    grid-area: f;
  }
  
  .playarea-23 {
    grid-area: j;
  }
  
  .playarea-24 {
    grid-area: n;
  }
  
  .playarea-31 {
    grid-area: c;
  }
  .playarea-32 {
    grid-area: g;
  }
  .playarea-33 {
    grid-area: k;
  }
  .playarea-34 {
    grid-area: o;
  }
  
  .playarea-41 {
    grid-area: d;
  }
  .playarea-42 {
    grid-area: h;
  }
  .playarea-43 {
    grid-area: l;
  }
  .playarea-44 {
    grid-area: p;
  }